.top_bar {
    border-bottom: 2px solid;
    margin-bottom: 20px;
}

.top_bar__search {
	margin-left: 20px;
    border-radius: 20px;
}

.top_bar__title {
    display: inline-block;
}

.container__row__content__avatar_container__avatar {
    width: 50px;
    height: 50px;
    border: 1px solid;
    text-align: center;
    background: #ccc;
    vertical-align: middle;
	margin-bottom: 10px;
}

.big_avatar {
    width: 100px;
    height: 100px;
}

.top_bar__row {
    padding: 20px;
}

.top_bar__row__col__signin {
	text-decoration: underline;
    padding-top: 20px;
}

.ui-widget.ui-widget-content {
    border: none !important;
}

.spinner_container {
    float: left;
}

.spinner {
    width: 12px;
}

.container__content__post {
	border-top: 1px solid;
	padding-top: 20px;
} 

.container__content__post__textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 5px;
	border: 1px solid;
}

.container__row__content__big {
    margin-bottom: 20px;
	border-bottom: 1px solid;
}

.container__content__normal {
    border: 1px solid;
    padding: 15px;
	margin-bottom: 20px;
}